{% extends "base.html" %}

{% block extra_head %}
<meta http-equiv="refresh" content="20; URL={% url tournament_table %}">
{% endblock %}

{% block content %}

{% for tournament in tournaments %}
<div class="stats">
  <h1>{{ tournament }}</h1>
  
  <table class="stats_table">
    <tr>
      <th width="10%">Rang</th>
      <th width="55%">Team</th>
      <th width="15%">Spiele</th>
      <th wisth="15%">Torverhältnis</th>
      <th wisth="15%">Punkte</th>
    </tr>
    {% for team in tournament.teams_by_rank %}
      <tr>
        <td><strong>{{ forloop.counter }}.</strong></td>
        <td>{{ team }}</td>
        <td>{{ team.games_played }} / {{ team.total_games }}</td>
        <td>{{ team.score_ratio_display }}</td>
        <td><strong>{{ team.points }}</strong></td>
      </tr>
    {% endfor %}
  </table>
  <br/><br/>
</div>

{% endfor %}

{% endblock %}
