{% extends "base.html" %}
{% load tournament_tags %}

{% block extra_head %}
<meta http-equiv="refresh" content="10; URL={% url tournament_stats %}">
{% endblock %}

{% block content %}
<table id="timetable" class="view" cellpadding="0" cellspacing="0">
  <tr>
    <th class="time"><!-- empty --></th>
    {% for location in locations %}
      <th class="location">{{ location}}</th>
    {% endfor %}
    
    {% for timeframe in timeframes %}
      <tr data-hour="{{ timeframe.hour }}" data-minute="{{ timeframe.minute }}">
         <th>{{ timeframe.start|date:'H:i'}}</th>
         {% for location in locations %}
            {% render_slot_view timeframe location %}
         {% endfor %}
      </tr>
      
      {% render_lunch_time timeframe %}
    {% endfor %}
  </tr>
</table>

<div class="tools">
    <span class="legend">
    {% for tournament in tournaments %}
        <div class="square t{{ tournament.id }}"></div>
        <div class="tournament_label">{{ tournament }}</div>
    {% endfor %}
    </span>
</div>
{% endblock %}
