
html, body {
  margin:0;
  padding:0;
  color:black;
}

td {
  padding:5px;
}


td.middle {
  text-align:center
}

h1 {
  color:white;
  font-size:20px;
}

input {
  border: 1px solid #ccc;
  font-size:18px;
  width:240px;
}

#form-header {

  padding:10px;
  background:#900;
}

#form-content {
  padding:10px;
}

#form-errors {
  background:#faa;
  padding:10px;
}

div.flexselect_dropdown {
  max-height: 120px;
  overflow-y:auto;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  color:white;
}

input.save {
  background-color: #c7e76c;
  float:left;
}

input.save:hover { background-color: #BDFF00 }

input.delete {
  background-color: #e86dc7;
  float:right;
}

input.delete:hover {  background-color: #E81AB1 }

.saved {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 140px;
}
