/* 
 * Tournamet style!
 * Author: Stefan Reinhard
 */
 
@font-face { font-family: 'Alpha'; src: url('../ttf/Alpha.ttf'); }

html, body {
   margin: 10px;
   color:black;
} 

header {
   background:red;
   padding:10px 15px;
   margin:10px 0px;
   font-family: Alpha, Arial;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   background: -webkit-gradient(linear, left top, left bottom, from(#C00), to(#900));
   background: -moz-linear-gradient(#C00, #900);
   text-shadow: 2px 2px 2px #222;
   color:white;
}


header h1 {
  font-size: 2.2em;
}

h1 {
  font-size: 1.5em;
}

#clock {
  float: right;
  width: 160px;
  font-size: 28px;
  text-shadow: none;

}


#gp_logo {
  float:right;
  width:90px;
  height:33px;
}


.hidden {
  display:none;
}

a {
  color:black;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}


.stats {
  padding-right:100px;
}

.stats h1 { font-size: 30px; }

table.stats_table {
  margin-top:20px;
  width: 100%;
}

table.stats_table td, table.stats_table th {
  border: 1px solid grey;
  padding:3px;
  font-size: 20px;
  text-align: center;
}

table.stats_table th {
  padding: 0 20px;
}


/*
 * Timetable Main Stuff
 */
 
#timetable {
  width: 100%;
  border-radius: 10px;
}

#timetable th, #timetable td {
  border: 1px solid #ccc;
  vertical-align:middle;
  padding: 2px
}

.view th, .view td { font-size: 18px; }

#timetable.view th {
  height: 25px;
}

#timetable.edit th {
  height: 20px;
}

#timetable th.time {
  width: 4%;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(#eee, #ccc);
}

#timetable th.location {
  width: 32%;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(#eee, #ccc);
}

#timetable td.lunchtime {
  text-align:center;
  font-weight:bold;
}

#timetable td.timeslot {
  text-align: left; 
}

td.drop { background: #C3D7FF; padding-bottom: 20px; }

tr.conflicts th, tr.conflicts td {
    background: #FF8080;
}

tr.current th, tr.current td {
    background: #FFFFD9;
}

.tools {
    margin-top: 10px;
    font-size: 16px;
}

.marker {
    float: right;
}

.tournament_label {
    display: inline-block;
    padding: 0 10px;
}

.legend .square {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
}

a.add_game {
    display: block;
    padding: 2px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #00FF2A;
}

a.add_game:hover {
    text-decoration: none;
}

.game_entry {
    display: block;
    padding: 2px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.game_entry:hover {
    text-decoration: none;
}

.t1 { background: #FFB2FF; }
.t1:hover, .t1.mark { background: #FF4DFF; }
.t2 { background: #B3E5FF; }
.t2:hover, .t2.mark { background: #4DC2FF }
.t3 { background: #FFD8B3; }
.t3:hover, .t3.mark { background:#FFA54D; }
.t4 { background: #FFB3B3; }
.t4:hover, .t3.mark { background:#FF4D4D; }


