<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Tournament{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dialog.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/flexselect/flexselect.css">
  <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/flexselect/liquidmetal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/flexselect/jquery.flexselect.js"></script>
</head>

<body>

  <div id="container">
      {% block content %}{% endblock %}
  </div>

  <script type="text/javascript">
    $(function () {
         $("select").flexselect();
    });
  </script>
</body>
</html>
