<html>
  <body>
    <p>Game has been saved!</p>
  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="/media/lib/fancybox/jquery.fancybox-1.3.2.pack.js"></script>  
    <script type="text/javascript">
      $(function () {
        parent.window.location.reload();
        $.fancybox.close();
        paraent.parent.$.fancy();
        parent.$.fancybox.close();
      })
      
    </script>
  </body>
   
