{% extends "base.html" %}
{% load tournament_tags %}

{% block extra_head %}
<meta http-equiv="refresh" content="10; URL=/tour/stats/">
{% endblock %}

{% block content %}
<table id="timetable" cellpadding="0" cellspacing="0">
  <tr>
    <th class="time"><!-- empty --></th>
    {% for location in locations %}
      <th class="location">{{ location}}</th>
    {% endfor %}
    
    {% for timeframe in timeframes %}
      <tr>
         <th>{{ timeframe.start|date:'H:i'}}</th>
         {% for location in locations %}
            {% render_slot_view timeframe location %}
         {% endfor %}
      </tr>
      
      {% render_lunch_time timeframe %}
    {% endfor %}
  </tr>
</table>

{% endblock %}
